<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Add Product</h1>
    <form action="{{ url_for('add_product') }}" method="POST" enctype="multipart/form-data">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required>
        <br>
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" required>
        <br>
        <label for="inventory">Inventory:</label>
        <input type="number" name="inventory" id="inventory" required>
        <br>
        <label for="expiry_year">Expiry Year:</label>
        <input type="number" name="expiry_year" id="expiry_year" required>
        <br>
        <label for="image">Product Image:</label>
        <input type="file" name="image" id="image" accept="image/*">
        <br>
        <button type="submit">Add Product</button>
    </form>
    
    
    <a href="/">Back to Home</a>
</body>
</html>
