<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Product Listings</h1>
    <ul>
        {% for product in products %}
        <li>
            <h2>{{ product.title }}</h2>  <!-- Display product title -->
            <p>Price: ${{ product.price }}</p>
            <p>Inventory: {{ product.inventory }}</p>
            <p>Expiry Year: {{ product.expiry_year }}</p>
            <p>Max Discount: ${{ product.max_discount }}</p>
            <p>Discount: ${{ product.discount }}</p>
            {% if product.image_filename %}
            <img src="{{ url_for('static', filename='uploads/' + product.image_filename) }}" alt="{{ product.title }}" width="200">
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
